.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slide-group {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}
